{% extends "common/base.html.twig" %}

{% block title %}Add new item{% endblock %}

{% block content %}
    <h1>Item form</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('collection_list') }}">Return to list</a>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('build/js/item-form.js') }}"></script>
{% endblock %}

