{% extends "common/base.html.twig" %}

{% block title %}List{% endblock %}

{% block content %}
    <h1>Collection list</h1>
    <h4>Page {{ page }}</h4>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th>Category</th>
            <th>Genre</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
        <tr>
            <td>
                <a href="{{ path('item_view', {'id': item.id}) }}">{{ item.id }}</a>
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.genre.name }}</td>
            <td>{{ item.description }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}